body {
	
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	width: 50%;
	margin: auto; 
	background-image:url(p2.Adobe.jpg);
}

form{
	margin-top: 10%;
	width: 99%;
	
}
table{
	min-width: 95%;	
	margin: auto;
	}

fieldset {
	border: medium solid #4DBE87;
	background-color: #133952;
}

td.result {
	background-color: #FFFFFF;
	color: black; 
	border: medium solid #4DBE87;
	text-align: center;	
}

th.title{
	color: #4DBE87;
	text-align: center;
	font-size: large;
	font-weight: bolder;
	}
	
td.user{
	color: #4DBE87;
	text-align: center;
	font-size: large;
	font-weight: bolder;
	}

td.words{
	color: #FFFFFF;
	font-weight: bold;
	font-size: large;
	}
	
td.numbers{
	color: #FFFFFF;
	font-weight: bold;
	font-size: large;
	}
	
td.symbols{
	color: #FFFFFF;
	font-weight: bold;
	font-size: large;
	}
	
td.submit{
	color: #FFFFFF;
	font-weight: bold;
	font-size: large;
	}